:host {
    height: 100vh;
    width: 100vw;
    background-color: white;
  }
  
  #section-1 {
    padding-top: 20%;
    font-family: 'Noka', 'Roboto', Arial, sans-serif;
  }
  
  .container {
    text-align: center;
  }
  
  #logo {
    margin-left: 20px;
  }
  
  
  #section-2 {
    margin-top: 30px;
    text-align: center;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
  }
  
  button {
    margin-top: 50px;
    color: #ffffff;
    background-color: #000000;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    padding: 10px 40px;
    cursor: pointer;
  }
  button a {
    color: #ffffff;
    text-decoration: none;
  }
  button:hover {
    color: #2d63c8;
    background-color: #ffffff;
  }
  
  @media screen and (max-width: 425px) {
    .container {
      width: 90%;
      & > kavak-svg {
        margin: 0 auto;
      }
    }
  }
  
  
  