<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div id="app-container">

  <section id="section-1">
    <div class="container">
      <svg
        id="logo"
        width="14.25rem"
        fill="black"
        viewBox="0 0 61 16" 
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11.1762 13.3437L8.38214 8.00057L12.5625 0H8.8258L4.57659 8.00057L8.8258 16H13.4645L14.7672 13.5085H19.5448L18.1517 10.8375H16.1501L18.1415 7.03196L22.8276 16H26.5011L18.1461 0L11.1762 13.3437ZM0 16H3.40027V0H0V16ZM48.184 13.3267L41.2254 0L32.8614 16H36.5382L41.2254 7.03196L43.2146 10.8375H41.2254L39.8312 13.504H44.6076L45.9104 15.9966H51.5911V0H48.184V13.3267ZM34.3685 0L29.6835 8.96804L24.9974 0H21.3228L29.6835 16L38.0442 0H34.3685ZM60.7465 0H57.0155L52.7651 8.00057L57.0155 16H60.7465L56.5695 8.00057L60.7465 0Z"/>
      </svg>
    </div>
    <div class="container">
      <h2>
        {{title}}
      </h2>
      <h3>
        Environment : {{environment}}
      </h3>
    </div>
  </section>
  <section id="section-2">
    <p>
       To learn more about how to use this boilerplate read the documentation.
    </p>
  </section>
  <div class="container">
    <button type="button">
      <a href="https://developer-portal.plt.kavak.io/docs/default/Component/web-public">
        Go to the documentation site
      </a>
    </button>
  </div>
</div>
